/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  transition: background-color 0.3s ease-in-out;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
header {
  background-color: #061346;
  color: white;
  padding: 20px;
  position: relative;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

/* Vertical Nav Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background-color: #01002C;
  padding-top: 10px;
  transition: left 0.3s ease-in-out;
}

.inicio-img {
  position: relative;
  top: -25px;
  left: 5px;
  width: 150px;
  height: 150px;
  margin-bottom: -40px;
  z-index: 1100;
  transition: transform 0.3s ease-in-out;
}

.inicio-img:hover {
  transform: scale(1.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
  position: relative;
}

nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #EBE8FF;
  margin: 10px auto 0;
  position: relative;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s ease-in-out;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: white;
  color: #061346;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Main Content Styles */
.content-section {
  margin-left: 200px;
  background-color: white;
  padding: 80px 40px;
  margin-bottom: 30px;
  margin-right: 40px;
  border-radius: 50px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s, box-shadow 0.4s;
}

.content-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.content-section h2 {
  font-size: 2.2em;
  margin-bottom: 30px;
  color: #061346;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content-section p,
.content-section ul,
.content-section address {
  font-size: 1.2em;
  margin-bottom: 25px;
  line-height: 1.8;
  color: #555;
}

.content-section ul {
  list-style-type: disc;
  padding-left: 40px;
}

.content-section address {
  font-style: normal;
  color: #777;
}

/* Accordion Styles */
.accordion {
  background-color: #061346;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
  border-radius: 10px;
}

.accordion:hover {
  background-color: #01002c;
}

.active,
.accordion:focus {
  background-color: #00429d;
}

.accordion-content {
  padding: 0 18px;
  background-color: #f4f4f9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 10px 10px;
  max-width: 50%;
}

.accordion-content ul {
  list-style-type: none;
  padding: 10px 0;
}

.accordion-content ul li {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #061346;
}

.accordion-content ul li:last-child {
  border-bottom: none;
}

.accordion-content ul li a {
  text-decoration: none;
  color: #061346;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}

.accordion-content ul li a:hover {
  color: #00429d;
  border-bottom: 1px solid #00429d;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 1em;
  letter-spacing: 1px;
}

/* Button Styles */
.button {
  display: inline-block;
  background-color: #061346;
  color: white;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 90px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #00429d;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    width: 200px;
  }

  .content-section {
    margin-left: 220px;
    padding: 60px 20px;
  }

  .accordion, .accordion-content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2em;
  }

  .content-section {
    margin-left: 0;
    padding: 60px 20px;
  }

  nav {
    width: 100%;
    height: auto;
    position: static;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .accordion, .accordion-content {
    width: 100%;
  }

  .miembro img {
    width: 100px;
    height: 100px;
  }

  .miembro h3 {
    font-size: 1.5em;
  }
}
